<% wrap_layout :blog do %>
<section>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-1">
          <article>
            <%= yield %>
          </article>
        </div>

        <div class="col-lg-3" id="sidebar">
            <img src="/images/jeffphoto.gif" id="photo" />
        </div>
    </div>
</div>
</section>
<% end %>
