<% wrap_layout :layout do %>
<header>
  <div class="container">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-1">
        You're reading the wiki of Jeff Lindsay (<a href="http://twitter.com/progrium">@progrium</a>). There is also his <a href="/blog">blog</a>.
      </div>
  </div>
</div>
</header>

<main id="main" role="main">
<section>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-1">
          <div style="float: right; font-size: smaller;">
            <a href="http://prose.io/#progrium/progrium.com/edit/master/source/<%= current_page.path %>.markdown">Edit</a> |
            <a href="https://github.com/progrium/progrium.com/commits/master/source/<%= current_page.path %>.markdown">History</a>
          </div>
          <article>
            <%= yield %>
          </article>
        </div>


    </div>
</div>
</section>
</main>
<% end %>
