{{!-- Membership plan, free --}}
<div class="membership-plan free">

	<div class="membership-plan-header">
		<h2>{{t "Free"}}</h2>
		<small>$0</small>
	</div>

	{{!-- Adjust features list according to your needs --}}
	<div class="membership-plan-content">
		<ul>
			<li>Full access to posts for subscribers</li>
			<li>Weekly email newsletter</li>
			<li>No advertising</li>
		</ul>
	</div>

	<div class="membership-plan-footer">
		<a class="btn" href="{{@site.url}}/signup/">{{t "Subscribe now"}}</a>
	</div>

</div><!-- .membership-plan -->
