{{!-- The messages displayed on the member subscribe form submit --}}
<div class="message message-signin-success">
	{{t "Great! Check your inbox and click the link to complete signin."}}
</div>
<div class="message message-signup-success">
	{{t "Great! Check your inbox and click the link to confirm your subscription."}}
</div>
<div class="message message-invalid">
	{{t "Please enter a valid email address!"}}
</div>
<div class="message message-error">
	{{t "There was an error sending the email, please try again."}}
</div>
