{{!-- Membership plan, yearly --}}
<div class="membership-plan yearly">

	<div class="membership-plan-header">
		<h2>{{t "Yearly"}}</h2>
		<small>${{@price.yearly}}</small>
	</div>

	{{!-- Adjust features list according to your needs --}}
	<div class="membership-plan-content">
		<ul>
			<li>Full access to all private posts</li>
			<li>Weekly email newsletter</li>
			<li>No advertising</li>
			<li>Support independent publishing</li>
			<li>Simple, secure card payment</li>
			<li>One easy payment instead of 12!</li>
		</ul>
	</div>

	<div class="membership-plan-footer">
		<a class="btn" href="javascript:void(0)" data-members-plan="Yearly">{{t "Subscribe now"}}</a>
	</div>

</div><!-- .membership-plan -->
