/**
 * 4.2 Archive Template
 */
.archive-header {
  border-left: 3px solid $color-accent;
  margin-bottom: 3.33333em;
  padding-left: 30px;
}

.archive-title {
  font-size: 1.33333rem;
  margin: 0;
}

.archive-description {
  color: $gray;
  font-size: 0.77778rem;
  line-height: 1.5;
  margin: 0.25em 0 0;
}
