/**
 * 1. General
 */
html {
  font-family: $font-primary;
  font-size: 112.5%;
}

body {
  background: #fff;
  color: $gray-dark;
  line-height: 1.66667;
}

a {
  color: $color-accent;
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;

  &:hover {
    color: $gray-darkest;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray-darkest;
  font-weight: bold;
  line-height: 1.2;
  margin: 1.66667rem 0 0.83333rem;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.22222rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.66667rem;
}

h4 {
  font-size: 1.33333rem;
}

h5 {
  font-size: 1.11111rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:first-child {
    margin-top: 0;
  }
}

p {
  margin: 0 0 1.66667em;
}

address {
  font-style: italic;
  margin: 0 0 1.66667em;
}

mark,
ins {
  background: $yellow;
  color: $gray-dark;
  padding: 0 3px;
  text-decoration: none;
}

code {
  font-size: 0.88889rem;
}

pre {
  background: $gray-darkest;
  border-radius: 3px;
  color: $gray-light;
  font-size: 0.88889rem;
  margin: 0 0 1.66667rem;
  overflow: auto;
  padding: 1.33333rem;
  white-space: pre;
}

blockquote {
  color: $gray-darkest;
  font-size: 1.88889rem;
  line-height: 1.25;
  margin: 0 0 1.66667rem;
  position: relative;
  text-align: center;

  &:before,
  &:after {
    background-color: $color-accent;
    content: "";
    display: block;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  &:before {
    margin-bottom: 30px;
    width: 60px;
  }

  &:after {
    margin-top: 40px;
    width: 30px;
  }

  p {
    margin-bottom: 0.83333rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  small,
  cite {
    display: block;
    font-size: 0.88889rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 3px;
    margin-top: 1.11111rem;
    text-transform: uppercase;
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.66667em;
}

ul,
ol {
  margin: 0 0 1.66667em;
  padding: 0 0 0 1.66667em;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

hr {
  background-color: $gray-lighter;
  border: 0;
  height: 1px;
  margin: 1.66667em 0;
}

table {
  font-size: 0.88889rem;
  line-height: 1.5;
  margin: 0 0 1.66667rem;
  text-align: left;
  width: 100%;
}

caption {
  color: $gray-darkest;
  font-size: 0.77778rem;
  font-style: normal;
  margin-bottom: 0.83333rem;
  text-align: left;
}

th,
td {
  border-bottom: 1px solid $gray-lighter;
  padding: 0.625em 5px;
}

th {
  color: $gray-darkest;
  font-weight: bold;
}

/* Form fields */
label {
  color: $gray-darkest;
  font-size: 0.88889rem;
  font-weight: bold;
}

input,
select,
textarea {
  background: #fff;
  border: 1px solid $gray-lighter;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: $gray-dark;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  max-width: 100%;
  padding: 8px 10px;
  vertical-align: baseline;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
  display: block;
  width: 100%;

  &:disabled {
    background: $gray-lightest;
  }
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
select:focus,
textarea:focus {
  outline: 0;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
.btn {
  background: $color-accent;
  border: 2px solid transparent;
  border-radius: 30px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 2.75em;
  line-height: 1.5;
  padding: 0 30px;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  vertical-align: middle;

  &.btn-secondary {
    background: $gray-lightest;
    color: $gray-dark;
  }

  &.btn-outlined {
    background: 0;
    border-color: $color-accent;
    color: $color-accent;
  }

  &.btn-icon {
    border-radius: 50%;
    padding: 0;
    position: relative;
    width: 2.75em;

    svg,
    .icon {
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
      top: 50%;
    }

    svg {
      fill: currentColor;
      height: 18px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    background: $color-accent;
    box-shadow: 0 0 1px 7px rgba($color-accent,.15);
    color: #fff;
    outline: 0;
  }
}

a.btn {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

/* Placeholder text color */
::-webkit-input-placeholder {
  color: $gray;
}

:-moz-placeholder {
  color: $gray;
}

::-moz-placeholder {
  color: $gray;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $gray;
}

/* Videos, audios and embeds */
embed,
iframe,
object,
video {
  max-width: 100%;
}

:not(.kg-card) > .fluid-width-video-wrapper {
  margin: 0 0 1.66667em;
}

/* Images */
img {
  height: auto;
  max-width: 100%;
}

.post-thumbnail,
.post-content {
  img {
    border-radius: 3px;
  }
}

/* Koenig cards */
.kg-card {
  margin: 0 0 1.66667em;

  figcaption {
    color: $gray-darkest;
    font-size: 0.77778rem;
    padding-top: 0.5em;
    text-align: left;
  }
}

.kg-bookmark-card {
  background: #fff;
  width: 100%;
}

.kg-bookmark-container {
  border: 1px solid $gray-lighter;
  border-radius: 3px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: $gray-dark;
  min-height: 140px;
  text-decoration: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;

  &:hover {
    border-color: $color-accent;
  }
}

.kg-bookmark-content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  padding: 1.33333rem;
}

.kg-bookmark-title {
  color: $gray-darkest;
  font-size: 1.33333rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 0.83333rem;
}

.kg-bookmark-description {
  color: $gray-dark;
  display: -webkit-box;
  font-size: 0.88889rem;
  font-weight: normal;
  line-height: 1.66667;
  max-height: 3.33333em;
  overflow-y: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.kg-bookmark-thumbnail {
  position: relative;
  min-width: 33%;
  max-height: 100%;

  img {
    border-radius: 0 3px 3px 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.kg-bookmark-metadata {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: $gray;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 0.77778rem;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 0.83333rem;
}

.kg-bookmark-icon {
  border-radius: 0;
  height: 24px;
  margin-right: 10px;
  width: 24px;
}

.kg-bookmark-author {
  &:after {
    content: "\00b7";
    margin: 0 7px;
  }
}

.kg-bookmark-publisher {
  overflow: hidden;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 240px;
}

.kg-gallery-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1080px;
}

.kg-gallery-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  &:not(:first-of-type) {
    margin: 5px 0 0;
  }
}

.kg-gallery-image {
  &:not(:first-of-type) {
    margin: 0 0 0 5px;
  }

  img {
    cursor: zoom-in;
    display: block;
    height: 100%;
    margin: 0;
    width: 100%;
  }
}

.kg-width-full {
  .kg-image {
    border-radius: 0;
    clear: both;
    display: block;
    margin-left: 50%;
    max-width: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100vw;
  }
}

/* Text meant only for screen readers */
.screen-reader-text,
.site-logo + .site-title {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/* Clearing floats */
.post-feed .post:after,
.post-content:after {
  clear: both;
}

.post-feed .post:before,
.post-feed .post:after,
.post-content:before,
.post-content:after {
  content: "";
  display: table;
}

/* Custom icons */
.icon-more,
.icon-close {
  background: currentColor;
  color: inherit;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

  &:before,
  &:after {
    background: currentColor;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.icon-more {
  border-radius: 2px;
  height: 4px;
  width: 4px;

  &:before {
    border-radius: 2px;
    margin-left: -6px;
  }

  &:after {
    border-radius: 2px;
    margin-left: 6px;
  }
}

.icon-close {
  background: 0;
  height: 2px;
  width: 24px;

  &:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-up,
.icon-arrow-down {
  background: currentColor;
  color: inherit;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

  &:before {
    border-color: currentColor;
    border-style: solid;
    content: "";
    height: 6px;
    position: absolute;
    width: 6px;
  }
}

.icon-arrow-left,
.icon-arrow-right {
  height: 2px;
  width: 12px;
}

.icon-arrow-up,
.icon-arrow-down {
  height: 12px;
  width: 2px;
}

.icon-arrow-left {
  &:before {
    border-width: 2px 0 0 2px;
    left: -1px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
}

.icon-arrow-right {
  &:before {
    border-width: 2px 2px 0 0;
    right: -1px;
    top: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}

.icon-arrow-up {
  &:before {
    border-width: 2px 0 0 2px;
    left: 1px;
    top: -1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
}

.icon-arrow-down {
  &:before {
    border-width: 0 0 2px 2px;
  }
}

/* Footnotes */
.footnotes-sep {
  clear: both;
}

.footnotes-list {
  font-size: 14px;
  line-height: 1.5;
}

.footnote-item p {
  margin-bottom: 0.5em;
}

/* Social Links */
.social-links {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  .btn-icon {
    height: 2.5em;
    margin: 0 5px 0.5em;
    width: 2.5em;
  }
}

/* Heading underline */
.underline {
  color: $gray-dark;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1.2;
  margin: 0 0 1.66667rem;
  text-transform: uppercase;

  &:after {
    background-color: $color-accent;
    display: block;
    content: "";
    height: 1px;
    margin-top: 15px;
    width: 60px;
  }
}

/* Animations */
@-webkit-keyframes fadeInOpacity {
  0% { opacity: 0; }
  100% { opacity: .15; }
}
@keyframes fadeInOpacity {
  0% { opacity: 0; }
  100% { opacity: .15; }
}

.fadeInDown {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.delay_05s {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.delay_075s {
  -webkit-animation-delay: .75s;
  animation-delay: .75s;
}

.delay_1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (min-width: 601px) {
  .post-content {
    img[src$='#left'] {
      float: left;
      margin: 0.3em 30px 0.83333em 0;
      max-width: 50%;
    }

    img[src$='#right'] {
      float: right;
      margin: 0.3em 0 0.83333em 30px;
      max-width: 50%;
    }
  }
}

@media only screen and (min-width: 785px) {
  blockquote,
  .kg-gallery-card,
  .post-content img[src$='#left'] {
    margin-left: calc(360px - 47vw);
  }

  blockquote,
  .kg-gallery-card,
  .post-content img[src$='#right'] {
    margin-right: calc(360px - 47vw);
  }

  .post-full .post-thumbnail,
  .post-featured .post-thumbnail,
  .post-content img[src$='#wide'],
  .kg-width-wide .kg-image,
  .membership-wide {
    margin-left: calc(360px - 47vw);
    margin-right: calc(360px - 47vw);
    max-width: none;
    width: 94vw;
  }
}

@media only screen and (min-width: 1141px) {
  blockquote,
  .kg-gallery-card,
  .post-content img[src$='#left'] {
    margin-left: -180px;
  }
  blockquote,
  .kg-gallery-card,
  .post-content img[src$='#right'] {
    margin-right: -180px;
  }
  .post-full .post-thumbnail,
  .post-featured .post-thumbnail,
  .post-content img[src$='#wide'],
  .kg-width-wide .kg-image,
  .membership-wide {
    margin-left: -180px;
    margin-right: -180px;
    max-width: none;
    width: 1080px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 100%;
  }

  h1 {
    font-size: 1.875rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3125rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5,
  h6 {
    font-size: 1rem;
  }

  blockquote {
    font-size: 1.5rem;

    small,
    cite {
      letter-spacing: 2px;
    }
  }

  button,
  input[type="submit"],
  input[type="button"],
  input[type="reset"],
  .btn {
    height: 2.5em;
    padding-left: 20px;
    padding-right: 20px;

    &.btn-icon {
      width: 2.5em;
    }
  }

  a.btn {
    padding-bottom: 0.375em;
    padding-top: 0.375em;
  }
}
