<div class="col-lg-3" id="sidebar">
    <img src="https://dl.dropboxusercontent.com/u/2096290/Blog/progrium2016.png" id="photo" title="Jeff Lindsay" />
    <p>
        Jeff Lindsay is a design-minded software programmer living in Austin, Texas. 
        He founded <a href="http://gliderlabs.com">Glider Labs</a>, an open source innovation lab.
        There he writes <a href="http://gliderlabs.com/projects">open source developer infrastructure</a> 
        to make the world more programmable.
    </p>
    <p><a href="/wiki/InfluenceAndAffiliations/">Learn more about Jeff.</a></p>
    <h5>
      <a rel="me" href="https://twitter.com/progrium"><i class="fa fa-twitter-square fa-2x"></i></a>
      <a rel="me" href="https://github.com/progrium"><i class="fa fa-github fa-2x"></i></a>
      <a ref="me" href="https://instagram.com/progrium"><i class="fa fa-instagram fa-2x"></i></a>
      <a ref="me" href="https://vimeo.com/progrium"><i class="fa fa-vimeo-square fa-2x"></i></a>
    </h5>
</div>
