<div class="col-lg-3" id="sidebar">
    <img src="/images/jeffphoto.gif" id="photo" title="Jeff Lindsay" />
    <p>Jeff Lindsay is a design-minded software architect and product engineer in Austin, Texas. Currently he consults and writes open source software focusing on next-gen platforms and infrastructure.</p>
    <h5><a rel="me" href="http://twitter.com/progrium"><i class="fa fa-twitter-square fa-2x"></i>Twitter</a></h5>
    <h5><a rel="me" href="http://github.com/progrium"><i class="fa fa-github fa-2x"></i>Github</a></h5>
    <h5><a rel="me" href="http://linkedin.com/in/progrium"><i class="fa fa-linkedin-square fa-2x"></i>LinkedIn</a></h5>
    <h5><a rel="me" href="http://gittip.com/progrium"><i class="fa fa-gittip fa-2x"></i>Gittip</a></h5>
</div>
