<section class="subscribe" style="padding: 20px 0;">
  <div class="row">
  <div class="col-lg-8 col-lg-offset-1">
    <i class="fa fa-envelope"></i>
    <a href="http://eepurl.com/bUo8Rb">Subscribe</a> to get future blog posts sent to you via email.
  </div>
  </div>
</section>
