{{!-- Membership plan, monthly --}}
<div class="membership-plan monthly">

	<div class="membership-plan-header">
		<h2>{{t "Monthly"}}</h2>
		<small>${{@price.monthly}}</small>
	</div>

	{{!-- Adjust features list according to your needs --}}
	<div class="membership-plan-content">
		<ul>
			<li>Full access to all private posts</li>
			<li>Weekly email newsletter</li>
			<li>No advertising</li>
			<li>Support independent publishing</li>
			<li>Simple, secure card payment</li>
		</ul>
	</div>

	<div class="membership-plan-footer">
		<a class="btn" href="javascript:void(0)" data-members-plan="Monthly">{{t "Subscribe now"}}</a>
	</div>

</div><!-- .membership-plan -->
