{{!-- Widget to display the about info --}}
<section class="widget widget-text">
	<h2 class="widget-title underline">{{t "About {sitetitle}" sitetitle=@site.title}}</h2>
	<p>{{{t "<strong>Horace</strong> is a simple Ghost theme for writers and bloggers. Explore it yourself. Feedback, questions, or ideas? Drop us a line via email."}}}</p>
</section><!-- .widget -->
