<html>
<head>
  <meta charset="utf-8">
  <title>Hey, I'm Jeff Lindsay.</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
<style type="text/css">
@font-face {
    font-family: 'futuraround-medium';
    src: url('/fonts/futuraround-medium.woff2') format('woff2'),
         url('/fonts/futuraround-medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'futuraround';
    src: url('/fonts/futuraround-regular.woff2') format('woff2'),
         url('/fonts/futuraround-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
  body {
    background-color: #48b56a;
    color: #dddee0;
    font-family: "futuraround-medium", helvetica;
  }
  h1 {
    font-family: "futuraround-medium", helvetica;
    font-size: 4em;
  }
  p {
    font-family: "futuraround", helvetica;
    font-size: 2em;
    font-weight: 200;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .icon {
    font-size: 2.5em !important;
    box-shadow: 0 0 0 0.06em #dddee0 inset !important;
  }
  a, a:visited {
    color: #dddee0;
    text-decoration: underline;
  }
  a:hover, a:active {
    color: white;
    text-decoration: underline;
  }
  a i {
    text-decoration: none !important;
  }
  a:hover i.icon, a:active i.icon {
    box-shadow: 0 0 0 0.06em #fff inset !important;
  }
</style>
</head>
<body>
  <div style="height: 30%;"></div>
  <div class="ui grid">
      <div class="four wide column"></div>
      <div class="twelve wide column">
        <h1>Hey, I'm Jeff Lindsay. 💀</h1>
        <p>
          I create 🎮 <a target="_blank" href="https://progrium.itch.io/">indie games</a> and ⚙ <a target="_blank" href="https://github.com/progrium/">open source tools</a>.<br />
          I love to empower and inspire through my work.<br />
          I often utilize <a target="_blank" href="https://en.wikipedia.org/wiki/Design_thinking">design thinking</a> and <a target="_blank" href="https://en.wikipedia.org/wiki/Systems_theory">systems thinking</a>.<br />
        </p>
        <a href="https://twitter.com/progrium"><i class="big circular white twitter icon"></i></a>
        <a href="https://twitch.tv/progrium"><i class="big circular white twitch icon"></i></a>
        <a href="https://www.youtube.com/channel/UCoej7Lrz8ugDp1ZHmYyjOsg"><i class="big circular white youtube icon"></i></a>
        <a href="https://medium.com/@progrium"><i class="big circular white medium icon"></i></a>
      </div>
  </div>
</body>
</html>
